.singlePostContent h2 {
  @apply text-2xl font-semibold mb-8;
}

.singlePostContent p {
  @apply mb-4;
}

.singlePostContent ul {
  @apply pl-10 my-4 list-disc;
}

.singlePostContent ol {
  @apply pl-10 my-4 list-decimal;
}

.singlePostContent a {
  @apply text-green-700 font-semibold;
}

.singlePostContent a:hover {
  @apply text-green-800;
}

.postImage {
  @apply w-full bg-cover bg-no-repeat bg-center mb-4;
  height: 120px;
}

@screen md {
  .postImage {
    height: 200px;
  }
}

@screen lg {
  .postImage {
    height: 300px;
  }
}

@screen 2xl {
  .postImage {
    height: 400px;
  }
}
